# Pandas

## Installation

In [ ]:
pip install pandas

## Pandas Dataframes

In [1]:
import pandas as pd
df=pd.read_csv("weather.csv")#read weather.csv data
df

        Day  Temperature  Windspeed  Event
0  01-01-25           18          2   Rain
1  02-01-25           17          6  Sunny
2  03-01-25           19          5   Snow
3  04-01-25           25          6   Rain
4  05-01-25           35          7  Sunny
5  06-01-25           19          8   Snow

In [6]:
df['Temperature'].max()

np.int64(35)

In [17]:
df['Event'] == 'Rain'

0     True
1    False
2    False
3     True
4    False
5    False
Name: Event, dtype: bool

In [26]:
df['Day'] [df['Event'] == 'Rain']

0    01-01-25
3    04-01-25
Name: Day, dtype: object

In [27]:
df['Windspeed'].mean()

np.float64(5.666666666666667)

In [30]:
df.columns

Index(['Day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [51]:
WeatherData=[('01-01-25',	18,	2,	'Rain'),
	('02-01-25',	17,	6,	'Sunny'),
	('03-01-25',	19, 5,	'Snow'),
	('04-01-25',	25,	6,	'Rain'),
	('05-01-25',	35,	7,	'Sunny'),
	('06-01-25',	19,	8,	'Snow')]
df= pd.DataFrame(WeatherData, columns= ['Day', 'Temperature', 'Windspeed', 'Event'])
df

        Day  Temperature  Windspeed  Event
0  01-01-25           18          2   Rain
1  02-01-25           17          6  Sunny
2  03-01-25           19          5   Snow
3  04-01-25           25          6   Rain
4  05-01-25           35          7  Sunny
5  06-01-25           19          8   Snow

In [52]:
df.head()#default 5 rows from start

        Day  Temperature  Windspeed  Event
0  01-01-25           18          2   Rain
1  02-01-25           17          6  Sunny
2  03-01-25           19          5   Snow
3  04-01-25           25          6   Rain
4  05-01-25           35          7  Sunny

In [54]:
df.shape #Shows rows,columns

(6, 4)

In [55]:
df.tail()#last 5 rows

        Day  Temperature  Windspeed  Event
1  02-01-25           17          6  Sunny
2  03-01-25           19          5   Snow
3  04-01-25           25          6   Rain
4  05-01-25           35          7  Sunny
5  06-01-25           19          8   Snow

In [56]:
#Slicing data
df[2:5]

        Day  Temperature  Windspeed  Event
2  03-01-25           19          5   Snow
3  04-01-25           25          6   Rain
4  05-01-25           35          7  Sunny

In [57]:
df.columns

Index(['Day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [62]:
df.Day

0    01-01-25
1    02-01-25
2    03-01-25
3    04-01-25
4    05-01-25
5    06-01-25
Name: Day, dtype: object

In [63]:
df['Day']

0    01-01-25
1    02-01-25
2    03-01-25
3    04-01-25
4    05-01-25
5    06-01-25
Name: Day, dtype: object

In [65]:
df[['Day','Event']]#new dataframe

        Day  Event
0  01-01-25   Rain
1  02-01-25  Sunny
2  03-01-25   Snow
3  04-01-25   Rain
4  05-01-25  Sunny
5  06-01-25   Snow

In [66]:
df['Temperature'].describe()

count     6.000000
mean     22.166667
std       6.882345
min      17.000000
25%      18.250000
50%      19.000000
75%      23.500000
max      35.000000
Name: Temperature, dtype: float64

In [67]:
df[df.Temperature == df.Temperature.max()]

        Day  Temperature  Windspeed  Event
4  05-01-25           35          7  Sunny

In [68]:
df.Day[df.Temperature == df.Temperature.max()]

4    05-01-25
Name: Day, dtype: object

## Operations on dataframes